<div class="title-header">
  <bldc-heading level="1">
    Behandelactiviteittype details
  </bldc-heading>
</div>

<bldc-card type="content">
  <div *ngIf="behandelactiviteittype && referentietypeOptions">
    <div style="padding-bottom: 2rem">
      <bldc-select-box elemId="referentieBehandelactiviteittype-input"
                       (bldcValueChange)="onReferentieBehandelactiviteittypeChanged()"
                       [data]="referentietypeOptions"
                       [(ngModel)]="behandelactiviteittype.referentietypeItemUuid">
        <span slot="label">Referentie behandelactiviteittype</span>
      </bldc-select-box>
    </div>
    <bldc-input elemId="omschrijving-input" required="false" placeholder="Optioneel"
                [(ngModel)]="behandelactiviteittype.omschrijving">
      <span slot="label">Omschrijving</span>
    </bldc-input>
    <bldc-input elemId="toelichting-input" [(ngModel)]="behandelactiviteittype.toelichting">
      <span slot="label">Toelichting</span>
    </bldc-input>
  </div>
</bldc-card>

<bldc-buttonbar *ngIf="getCode() === 'nieuw'">
  <bldc-button slot="right" type="primary" [disabled]="disabled" (bldcClick)="save()" elem-title="Maak aan en volgende"
               icon="volgende"
               icon-pos="left" iconPos="right"></bldc-button>
</bldc-buttonbar>
