<bldc-grid fluid="true">
  <bldc-grid-row containerColumns="12">
    <bldc-grid-column col="2" padding="false" lg="2" md="1" sm="0.5" xs="0.5"></bldc-grid-column>
    <bldc-grid-column col="8" padding="false" lg="8" md="10" sm="11" xs="11">
      <div>
        <bldc-heading level="1">
          Catalogus
        </bldc-heading>
        <bldc-card>
          <bldc-paragraph>
            De CATALOGUS ondersteunt het opslaan en naar andere applicaties ontsluiten van zaak- en behandeltype
            configuratie.
            Deze gegevens kunnen door applicaties worden gebruikt om voor zaken van een bepaald type de juiste gegevens
            (behandelactiviteittypes, statustypes, resultaattypes, informatieobjecttypes etc.) te bepalen en hierop de verwerking in
            betreffende applicatie te baseren.
          </bldc-paragraph>
          <bldc-heading level="2">

            Zaaktype
          </bldc-heading>
          <bldc-paragraph>
            Een ZAAKTYPE is een classificatie van zaken. Bij het definiëren van zaaktypen worden kenmerken als
            (behandel)termijnen, resultaattypes, aanleidingen, statustypes, events voor de statusovergangen, en bijbehorende
            informatieobjecttypes beschreven.

            Zaaktypes kunnen niet vrijelijk toegevoegd worden omdat het zowel intern als op klantportalen belangrijk is
            een uniforme consistente set te hanteren met een consistent zaakontwerp (denk bijv. aan het gebruik van
            statustypes). Vanuit CAB zijn zaaktypes welke binnen de Belastingdienst zijn onderkend daarom vastgesteld en
            opgenomen in <a href="https://connectpeople.belastingdienst.nl/communities/service/html/communitystart?communityUuid=50488bae-1f26-4ea9-8402-2be35e822016#fullpageWidgetId=Wa292251e939c_4e90_a91e_a2caffdff48f&folder=%257BF0029D72-0000-C81B-9366-46B4ABDF629F%257D" target="_blank">Referentiearchitectuur zaakgericht werken</a>, inclusief naamgevingsconventies. Uitbreidingen
            moeten
            dus in overleg met CAB plaatsvinden.
          </bldc-paragraph>
          <bldc-heading level="2">

            Behandelactiviteit
          </bldc-heading>
          <bldc-paragraph>
            Een behandelactiviteit is de eenheid van werkzaamheden die door de functie ‘Sturen op de afhandeling van
            werk’
            wordt bestuurd (zie uitgangspunt GUA3 in <a href="https://connectpeople.belastingdienst.nl/communities/service/html/communityview?communityUuid=18eec367-d54b-446c-840c-8e47bf54ab2c#fullpageWidgetId=W05f16a0185ed_47c0_9f1b_7cb97c98a862&file=754a5ab7-efc6-4f52-a7b2-7f8113ba8094" target="_blank">DA GKT</a>). Behandelactiviteittypes zijn gestandaardiseerd in typen. Zo
            zijn de diverse invorderingsinstrumenten binnen domein Inning (zoals het ‘bankbeslag’) en de
            behandelinstrumenten van domein Toezicht & Heffen Kantoor (zoals de ‘kantoortoets’) behandelactiviteittypes.
            Medewerkers zijn opgeleid om een bepaald behandelactiviteit type te kunnen uitvoeren; voor elk
            behandelactiviteit type zijn er werkinstructies.
            Een behandelactiviteit type is zo gedefinieerd dat ze kan leiden tot het uiteindelijke zaakresultaat; het
            resultaat van een behandelactiviteit is gelijk aan het zaakresultaat.
          </bldc-paragraph>
        </bldc-card>
      </div>
    </bldc-grid-column>
    <bldc-grid-column col="2" padding="false" lg="2" md="1" sm="0.5" xs="0.5"></bldc-grid-column>
  </bldc-grid-row>
</bldc-grid>
